node_modules/
dist/
.turbo/
.next/
.env
.env.*
!.env.template

# Prisma
*.db
*.db-journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.idea/
.vscode/
